.data-table__data-item {
    border: 1px solid #e8e8e8;
    border-top: none;
    border-bottom: none;
}

.data-table__data-item:nth-child(even) {
    background-color: #f5f5f5;
}
.data-table__data-item:nth-child(odd) {
    background-color: #fafafa;
}

.data-table__data-row {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
}
.data-table__data-row:hover {
    background-color: #e9f5dc;
}

.data-table__row-cell {
    width: 100%;
    padding: 5px;
    flex-grow: 2;
    border-right: 1px solid #e8e8e8;
    text-align: center;
}

.data-table__row-cell:last-child {
    border-right: none;
}

.data-table__row-cell.data-table__row-cell-icon {
    position: relative;
    width: initial;
    min-width: 20px;
    min-height: 20px;
    padding: 5px;
}

.hidden {
    display: none;
}
