.data-table {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 3px 0;
    padding: 0;
}

.data-table__title {
    width: 100%;
}
.data-table__header-row {
    background-color: gray;
}

.data-table__header-cell.data-table__header-cell--0,
.data-table__header-cell.data-table__header-cell--1,
.data-table__row-cell.data-table__row-cell--0,
.data-table__row-cell.data-table__row-cell--1 {
    width: initial;
    padding: 10px;
}

.data-table__header-row,
.data-table__data-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.data-table__header-cell,
.data-table__row-cell {
    flex-grow: 2;
    width: 100%;
    padding: 1px;
    text-align: center;
    border: 1px solid;
}
.data-table__data-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.data-table__data-details {
    display: none;
}
.data-table__data-details--expanded {
    display: block;
}
